# IDE
.idea/

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/
.eggs/

# Environment
.env
.venv/
venv/

# OS
.DS_Store
Thumbs.db
traffic_data_analysis/delay_result/ *.xml
